.root {
    -fx-background-color: black;
}

.nextBrick {
    -fx-border-radius: 8px;
    -fx-border-color: grey;
    -fx-border-width: 4px;
}

.gameBoard {
    -fx-background-color: white;
}

.gameBorder {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 0 20px 0 20px;
}

.nextBrickLabel {
    -fx-font-family: "Press Start 2P";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 16px;
    -fx-text-fill: yellow;
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 10px;
}

.bonusStyle {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.gameOverStyle {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 47;
    -fx-background-color: red;
}

.ipadBackground{
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20;
    -fx-text-fill: black;
    -fx-padding: 8px;
}

.ipadBorder{
    -fx-border-radius: 4px;
    -fx-border-color: grey;
    -fx-border-width: 2px;
}

.nextBrick {
    -fx-border-radius: 4px;
    -fx-border-color: grey;
    -fx-border-width: 4px;
}

.scoreText{
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20;
    -fx-text-fill: black;
}
