.root {
    -fx-background-color: black;
}

.gameBoard {
    -fx-background-color: white;
}

.vbox {
    -fx-spacing: 12;
}

.ipadBackground{
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20;
    -fx-text-fill: black;
    -fx-padding: 8px;
}

.ipadBorder{
    -fx-border-radius: 4px;
    -fx-border-color: grey;
    -fx-border-width: 2px;
}

.nextBrick {
    -fx-border-radius: 4px;
    -fx-border-color: grey;
    -fx-border-width: 4px;
}

.scoreText{
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20;
    -fx-text-fill: black;
}

.menuButton{
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 29;
    -fx-text-fill: wheat;
    -fx-padding: 8px;
    -fx-border-radius: 4px;
    -fx-border-color: wheat;
    -fx-border-width: 4px;
    -fx-background-color: #fce9d4;
    -fx-background-radius: 6px;
}

.menuButton:focused{
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 30;
    -fx-text-fill: #0341ae;
    -fx-padding: 8px;
    -fx-border-radius: 4px;
    -fx-border-color: #cd0000;
    -fx-border-width: 8px;
    -fx-background-color: #fce9d4;
    -fx-background-radius: 6px;
}

.pauseButton{
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-background-color: black;
}

.instructionsText{
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 12;
    -fx-text-fill: black;
}